Data Types and Structures
Assignment Questions

Q1.What are Data structure and why they are important?

Ans. Data structure are the way of organising, managing, and storing data that are enable efficient and access modification.They are important because they optimize the performance, manage large data, and provide abstract way to present the data allowing programs to focus on the logic without worrying about the low level memory detail.

Q2. Explain the difference between mutable and immutable data types with examples.

Mutable files can be modified in place after creation for example- Lists

List = [1,2,3]

List.append(4)

List = [1,2,3,4]

whereas, Immutable data cnnot be modified once it will be created for example- strings and tuples.

my_string = "hello"
new_string = my_string + " world" # Creates a *new* string object
# my_string is still "hello"

Q3. What are the main differences between lists and tuples in Python?

Ans. Lists: Lists are mutable, their syntax is square brackets, they are slower in performance, it can be used in collection of items like stake, queue, general collections. Whereas, Tuples are immutable in nature, their syntax is parenthesesand it is faster in performance theri use cases is collections of related, fixed items (e.g., coordinates, database records).

Q4. Describe how dictionaries store data?

Ans. Dictionaries store data as key-value pairs. Each key must be unique and immutable and it's used to look up its value. The key-value pairs are stored in a way that allows for very fast retrieval, typically using a concept called hashing.

Q5. Why might you use a set instead of a list in Python?

Ans. Yes, I can use sets instead of lists in Python. instead I need to discard the duplicate values automatically an to perform mathematical sets operation like, union intersection and differences.

Q6. What is a string in Python, and how is it different from a list?

Ans. A string is an immutable sequence of characters used to represent text data
strings are immutable and generally contain only characters. Whereas, Lists are the collection of arbitrary items can be changed and contain different types of data.

Q7. How do tuples ensure data integrity in Python?

Ans. Tuples ensures data integrity because they are immutable. Once a tuple is created, its size and element values cannot be modified. This prevents accidental modification of data that shouldn't be altered, which is essential for data integrity, particularly when passing data between different parts of a Program or use it as a dictionary key.

Q8. What is a hash table, and how does it relate to dictionaries in Python?

Ans. A hash table is a data structure that implements an associative array abstract data type, a structure that makes data type, a structure that can make keys to values. It is related to dictionary as the dictionaries are implemented using a hash table. The key we provide is passed to a hash function to quickly determine where its corresponding value is stored in memory.

Q9. Can lists contain different data types in Python?

Ans. Yes Lists can contain different data types like - mylist = ["Harshit", 1, 1.5, True]

Q10. Explain why strings are immutable in Python?

Ans. Strings are imutable in python for performance, avoiding accidental changes, and hashing(neede for using string as dictionary keys)

Q11. What advantages do dictionaries offer over lists for certain tasks?

Ans. The advantages dictionaries offer over lists for certain task is-

more effient data mapping, descriptive data access via name keys, faster lookups.

Q12. How do sets handle duplicate values in Python?

Ans. Sets handle duplicates by removing it for ex-

set[(1,2,3,3,4,4,5)] it will results- {1,2,3,4,5}

Q13. How does the “in” keyword work differently for lists and dictionaries?

Ans. The in keyword in list checks the values assigned whereas in dictionaries it deaals with the keys assigned.

Q14. Can you modify the elements of a tuple? Explain why or why not.

Ans. No, we can't modify the elements of tuples as they are immutable and once created, their elements can't be changed.

Q15. What is a nested dictionary, and give an example of its use case?

Ans.A nested dictionary is a dictionary under the dictionary.

for ex- students = {
    "001": {"name": "Alice", "grade": "A"},
    "002": {"name": "Bob", "grade": "B"}
}

Q16. Describe the time complexity of accessing elements in a dictionary?

Ans. Average time complexity: O(1) (constant time)
Worst-case (rare due to hash collisions): O(n)

Q17. In what situations are lists preferred over dictionaries?

Ans. Use lists when: Order matters,You need sequential access
and Keys aren't needed, just a collection of items.

Q18. Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans. Before Python 3.7, dictionaries were unordered.
Since Python 3.7+, they preserve insertion order, but are still optimized for key-based access, not sequential access like lists.

Q19. Explain the difference between a list and a dictionary in terms of data retrieval.

Ans. List: Access by index (e.g., my_list[0])

Dictionary: Access by key (e.g., my_dict["name"])

Dictionaries are faster for lookup by key (O(1)), while lists require searching (O(n)).

Practical Questions:

In [2]:
# Q1: Write a code to create a string with your name and print it.
my_name = "Harshit"
print(my_name)

Harshit

In [3]:
# Q2: Write a code to find the length of the string "Hello World".
my_string = "Hello World"
print(len(my_string))

11

In [4]:
# Q3: P Write a code to slice the first 3 characters from the string "Python Programming"
my_string = "Python Programming"
print(my_string[:3])

Pyt

In [6]:
# Q4: Write a code to convert the string "hello" to uppercase.
my_string = "hello"
print(my_string.upper())

HELLO

In [7]:
# Q5: Write a code to replace the word "apple" with "orange" in the string "I like apple".
my_string = "I like apple"
print(my_string.replace("apple", "orange"))

I like orange

In [8]:
# Q6: Write a code to create a list with numbers 1 to 5 and print it.
my_list = [1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

In [9]:
# Q7: P Write a code to append the number 10 to the list [1, 2, 3, 4].
my_list = [1,2,3,4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [10]:
# Q8: Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
my_list = [1,2,3,4,5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [11]:
# Q9: Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
my_list = ['a', 'b', 'c', 'd']
print(my_list[1])

b

In [12]:
# Q10: Write a code to reverse the list [10, 20, 30, 40, 50].
my_list = [10, 20, 30, 40, 50]
print(my_list[::-1])

[50, 40, 30, 20, 10]

In [16]:
# Q11:  Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100,200,300)
print(my_tuple)
type(my_tuple)

(100, 200, 300)

tuple

In [17]:
# Q12: Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
my_tuple = ('red', 'green', 'blue', 'yellow')
print(my_tuple[-2])

blue

In [18]:
# Q13:  Write a code to find the minimum number in the tuple (10, 20, 5, 15).
my_tuple = (10, 20, 5, 15)
print(min(my_tuple))

5

In [19]:
# Q14:  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
my_tuple = ('dog', 'cat', 'rabbit')
print(my_tuple.index('cat'))

1

In [20]:
# Q15:  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
my_tuple = ('apple', 'banana', 'orange', 'kiwi')
print('kiwi' in my_tuple)

True

In [22]:
# Q16:  Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'a', 'c'}

In [23]:
# Q17: Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [24]:
# Q18:  Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [25]:
# Q19:  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [26]:
# Q20:  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [27]:
# Q21: . Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
my_dict = {"name": "Harshit", "age": 20, "city": "Delhi"}
print(my_dict)

{'name': 'Harshit', 'age': 20, 'city': 'Delhi'}

In [33]:
# Q22: Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [34]:
# Q23:  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
my_dict = {'name': 'Alice', 'age': 30}
print(my_dict['name'])

Alice

In [35]:
# Q24:  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [36]:
# Q25:  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
my_dict = {'name': 'Alice', 'city': 'Paris'}
print('city' in my_dict)

True

In [38]:
# Q26:  Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1,2,3]
my_tuple = (1,2,3)
my_dict = {"name": "Harshit", "age": 20, "city": "Delhi"}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(1, 2, 3)
{'name': 'Harshit', 'age': 20, 'city': 'Delhi'}

In [39]:
# Q27:  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
my_list = [1,15,65,74,25]
my_list.sort()
print(my_list)

[1, 15, 25, 65, 74]

In [40]:
# Q28: Write a code to create a list with strings and print the element at the third index.
my_list = ["apple", "banana", "orange", "kiwi", "mango"]
print(my_list[3])

kiwi

In [41]:
# Q29:  Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [42]:
# Q30:  Write a code to convert a list of strings into a set.
my_list = ["apple", "banana", "orange", "apple"]
my_set = set(my_list)
print(my_set)

{'apple', 'orange', 'banana'}